---
layout: default
title: {{ site.name }}
faq:
  - question: What is the cost and what does it cover?
    answer: Registration fee is 50$ and will include a Ashtabula wrestling two piece, USA wrestling insurance, and OEYW League fee. 
  - question: What equipment is required?
    answer: Headgear and wrestling shoes are manditory once manditory practies begin. We will have extra wrestling shoes at open mats. 
  - question: What is the practice schedule?
    answer: Monday, Tuesday, Thursday at Edgewood High School
  - question: Where are practices located?
    answer: "Intructions are included here: [Practice Locations](directions)"
  - question: When are the wrestling meets?
    answer: All team events will be documented in the team schedule. League duals are on Sunday's starting in December and go until late January. Open tournaments are optional and generally fall on Saturday's. While the team will attend open tournaments November - March, open tournaments go year around. 
  - question: How long is the season? 
    answer: Open mats start once a week the first 4 weeks of October. Manditory practices (Mon, Tues, Thurs) start the last week of October. League meets start the first week of December ending with the League tournament the first week of Feburary. The league tourmanent is the end of the season for novice wrestlers. Advanced wrestlers will continue practice for OAC states. 
  - question: How do you decide who wrestles? 
    answer: There is a varsity lineup and a allstar lineup, everyone will wrestle. The varsity wrestling lineup is divided by weight classes. If two wrestlers are in the same weight class they will wrestle off. Once the weight class is won, it will take two losses to take the spot of wrestler who previously won. You can only challenge one wrestling class per week. 
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>