<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="./" class="btn">Home</a>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdT7tCkJng_48qM2ViTS3nsfSQjpT1PlqK_8DXIvWpfAR7viw/viewform" class="btn" target="_blank">Online Sign-up</a>
  <a href="directions" class="btn">Practice Locations</a>
  <a href="schedule" class="btn">Schedule</a>
  <a href="https://www.facebook.com/lizardwrestling/" class="btn" target="_blank">Facebook</a>
</section>
