<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="./" class="btn">Home</a>
  <a href="https://docs.google.com/forms/d/1Y2-vIwLKzhieCYHGT-3Sh9HLUjwWMdqE2O6nfPpFVq8" class="btn" target="_blank">Online Sign-up</a>
  <a href="schedule" class="btn">Schedule</a>
  <a href="faq" class="btn">FAQ</a>
  <a href="directions" class="btn">Practice Locations</a>
  <a href="https://www.facebook.com/ashtabulawrestling/" class="btn" target="_blank">Facebook</a>
</section>
